:root {
  --primery-title-color: #ffffff;
  --secondary-title-color: #212121;
  --primary-header-text-color: #212121;
  --secondary-header-text-color: #757575;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --third-text-color: #ffffff;
  --fourth-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  color: #757575;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: #ffffff;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-menu .header-link.link.current {
  color: var(--accent-color);
}

/* Классы для Хедера и Героя */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}
.header-menu {
  display: flex;
  /* align-items: center; */
}
.header-contacts-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.first-logo {
  margin-right: 93px;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.header-logo-word {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-header-text-color);
  transition: color 250ms var(--timing-function);
}

.current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: -32px;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}

.header-contacts-link:hover .header-contacts-envelope,
.header-contacts-link:focus .header-contacts-envelope {
  fill: var(--accent-color);
}

.header-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-header-text-color);
  display: flex;
  align-items: center;

  transition: color 250ms var(--timing-function);
}

.header-contacts-envelope {
  width: 16px;
  height: 12px;
  fill: var(--secondary-header-text-color);
  margin-right: 10px;

  transition: fill 250ms var(--timing-function);
}

.header-contacts-envelope.smartphone {
  width: 10px;
  height: 16px;

  transition: fill 250ms var(--timing-function);
}

.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Logoimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  max-width: 1600px;
  margin: 0, auto;
  padding: 200px 0 280px 0;
}

.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primery-title-color);
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.hero-btn {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  background: #2196f3;
  border: none;
  margin: 0 auto;
  padding: 10px 32px;
  border-radius: 4px;
  outline: none;
  transition: background-color 250ms var(--timing-function);
}

/* Классы для секции Наши услуги  */

.service {
  padding: 94px 0;
}

.service-icon-bg {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-icon {
  width: 70px;
  height: 70px;
}

.service-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-title-color);
  margin: 0 0 10px 0;
}
.service-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.service-list {
  display: flex;
  justify-content: space-between;
}

.service-item:not(:last-child) {
  margin-right: 30px;
}

/* Классы для секции Чем мы занимаемся */

.work {
  padding-bottom: 94px;
}

.work-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-title-color);
  margin: 0 0 50px 0;
}
.work-list {
  display: flex;
  justify-content: space-between;
}

.work-image-container {
  position: relative;
}

.work-image-title {
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 27px 0px 27px 0px;
}

/* Кдассы для секции Наша команда */

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-item {
  width: calc((100%-90px) / 4);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.team-imagine {
  margin-bottom: 30px;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-title-color);
  margin-bottom: 10px;
}

.team-member-specialisation {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
}

/* .social-item:not(:last-child) {
  margin-right: 10px;
} */

.social-item + .social-item {
  margin-left: 10px;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--timing-function);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms var(--timing-function);
}

/* Секция Наши Клиенты */

.clients {
  padding: 94px 0;
  background-color: #ffffff;
}

.clients-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-item {
  width: 170px;
  height: 92px;
}
.clients-item + .clients-item {
  margin-left: 30px;
}

.clients-link {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms var(--timing-function);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

.clients-icon {
  fill: #afb1b8;
  transition: fill 250ms var(--timing-function);
}

/* Классы для футера */

.footer {
  padding: 60px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
  /* align-items: center; */
}

.fotter-background {
  background-color: #2f303a;
}

.footer-bottom-logo {
  margin-bottom: 20px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.footer-logo-word {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
}

.footer-address {
  font-style: normal;
}

.footer-item:not(:last-child) {
  margin: 0 0 9px 0;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
.footer-link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--third-text-color);
  transition: color 250ms var(--timing-function);
}

.footer-link-contacts:hover,
.footer-link-contacts:focus {
  color: var(--accent-color);
}
.footer-link-contacts {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timing-function);
}

.common-container {
  margin-right: 70px;
}

.social-network-header {
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--primery-title-color);
  margin-bottom: 20px;
}

.social-network-list {
  display: flex;
}

.social-network-item {
  width: 44px;
  height: 44px;
}

.social-network-item + .social-network-item {
  margin-left: 10px;
}

.social-network-link {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--timing-function);
}

.social-network-link:hover,
.social-network-link:focus {
  background-color: var(--accent-color);
}

.social-network-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  justify-content: center;
}

.newsletter {
  margin-left: 93px;
  /* padding-right: 215px; */
}

.newsletter-title {
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--primery-title-color);
  margin-bottom: 20px;
}

.newsletter-form {
  display: flex;
  justify-content: space-between;
}

.mail-text {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 15px 16px;
  margin-right: 12px;
  color: var(--third-text-color);
}

.mail-text::placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  color: rgba(255, 255, 255, 0.6);
}

.mail-text:focus {
  border-color: #ffffff;
}

.btn-icon {
  position: relative;
}

.newsletter-btn {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding-left: 29px;
  transition: background-color 250ms var(--timing-function);
  outline: none;
}

.newsletter-btn:hover,
.newsletter-btn:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.subscribe-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 95.53%;
  right: 15.19%;
  left: 75.31%;
  bottom: 3.65%;
  transform: translateY(-140%);
}

.newsletter-btn-text {
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
}

/* Вторая страничка - ПОРТФОЛИО */

.service-header {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

.portfolio {
  padding: 94px 0 94px 0;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--third-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  margin: 0 0 50px 0;
}

.portfolio-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: var(--secondary-text-color);
  background-color: #f5f4fa;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

/* применяем временно portfolio-btn*/
/* .btn-color {
  color: var(--third-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px; }*/

.portfolio-list-img {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item-img:hover,
.portfolio-item-img:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.portfolio-item-img {
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms var(--timing-function);
}

.portfolio-item-img:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item-img:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-imagine-text {
  position: relative;
  overflow: hidden;
}

.portfolio-imagine {
  margin-bottom: 20px;
}

.imagine-description {
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--third-text-color);
  background-color: var(--accent-color);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.portfolio-item-img:hover .imagine-description {
  transform: translateY(0);
  background: rgba(33, 150, 243, 0.9);
}

.portfolio-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  padding: 0 24px;
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
  padding: 0 24px;
}

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(0.5);
}

.modal {
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  transform: scale(1);
  transition: transform 250ms var(--timing-function);
  padding: 40px;
}

.modal-icon-container {
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  outline: none;
}

.modal-icon-container:hover {
  cursor: pointer;
}

.modal-icon-container:hover .modal-close-button,
.modal-icon-container:focus .modal-close-button {
  fill: var(--accent-color);
}

.modal-close-button {
  width: 11px;
  height: 11px;
  transition: fill 250ms var(--timing-function);
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.form-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.modal-form-name {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.input-name {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 42px;
  padding-right: 15px;
  outline: none;
  transition: border-color 250ms var(--timing-function);
}

.input-name:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}

.input-name:focus + .inpute-icon {
  fill: var(--accent-color);
}

.inpute-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 15px;
  top: 50%;
  transition: fill 250ms var(--timing-function);
}

.modal-comments {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  outline: none;
}

.modal-comments:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}

.modal-comments::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/* Custom checkbox */
.check-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: #757575;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  /* Для третьего варианта кастомного чекбокса*/
  /* position: relative;
  align-items: flex-start; */
}

.check-text .conditions {
  color: lightseagreen;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--timing-function);
}

.check-box-icon {
  width: 11px;
  height: 8px;
}

.modal-checkbox:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}

.modal-checkbox.visually-hidden {
  position: absolute;
  overflow: hidden;
  opacity: 0;
}

/* 2-й вариант кастомного чекбокса (через фон)*/

/* .check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--timing-function);
}

.modal-checkbox:checked + .check-text::before {
  background-image: url(../images/icon-check.svg);
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */

/* 3-й вариант кастомного чекбокса (ползунок) */

/* .check-text::before {
  content: "";
  width: 40px;
  height: 24px;
  border: 1px solid #999999;
  border-radius: 50px;
  margin-right: 7px;
  transition: background-color 250ms var(--timing-function);
}
.check-text::after {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #999999;
  border-radius: 50%;
  position: absolute;
  left: 3px;
  top: 2px;
  background-color: grey;
  transition: background-color 250ms var(--timing-function), transform 250ms var(--timing-function);
}

.modal-checkbox:checked + .check-text::after {
  transform: translate(14px);
  background-color: var(--third-text-color);
}

.modal-checkbox:checked + .check-text::before {
  background-color: var(--accent-color);
} */




/* Кнопка формы модалки */
.modal-btn {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: block;
  margin: 0 auto;
  outline: none;
  transition: background-color 250ms var(--timing-function);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.modal-btn-title {
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
}